{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <h1 class="fadeIn">Welcome!</h1>
    </header>
    <nav>
        <a href="#">Home</a>
        <a href="{% url 'gallery' %}">Gallery</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>

    <div class="container">
        <main>
            <h2>Main Content</h2>
            <p>
            Welcome! If meet something you concern or question about plz contact the email below:
            <i>zw.20230214@gmail.com</i>
            </p>
        </main>
    </div>

    <!-- particles.js container -->
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <footer>
        <p>ShadowmMark &copy; 2024</p>
    </footer>

</body>
</html>
